<div class="modal-dialog">
  <div class="modal-content">

    <%= form_for @animal, remote: true, html: { style: "display:inline;" } do |form| %>
      <div class="modal-body">
      <ul class="errors"></ul>

      <% if @animal.animal_photo.present? %>

        <%= image_tag(@animal.animal_photo.url, height: 200) %>

        <div class="form-group">

          <%= form.label :remove_animal_photo, style: "display: inline" %>

          <%= form.check_box :remove_animal_photo %>

        </div>

      <% end %>
      
      <div class="form-group">
        <%= form.file_field :animal_photo %>

        <%= form.hidden_field :animal_photo_cache %>
      </div>


      <div class="form-group">
        <%= form.label :name, class:"control-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :breed %>
        <%= form.text_field :breed, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.collection_select :zone_id, Zone.all, :id, :name, :prompt => "Select a zone", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :year_birth %>
        <%= form.number_field :year_birth, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>

      </div>
    <% end %>

  </div>
</div>