<p id="notice"><%= notice %></p>

<%= link_to 'Nuevo Animal', new_animal_path, remote: true, class: "btn btn-success create-new" %>

<h1>Animals</h1>

<%= form_tag animals_path, :method => 'get', :id => "animals_search", class: "form-inline" do %>
  <p>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
  </p>
<% end %>

<br>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Breed</th>
      <th>Zone</th>
      <th>Year birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="animals-table">
    <%= render 'index' %>
  </tbody>
</table>

<div id="animal-modal" class="modal fade"></div>