<p id="notice"><%= notice %></p>

<%= link_to 'New Animal', new_animal_path, class: "btn btn-success create-new" %>

<h1>Animals</h1>

<%= form_tag animals_path, :method => 'get', :id => "animals_search", class: "form-inline" do %>
  <p>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
  </p>
<% end %>

<br>

<div id="animals-table"><%= render 'animals' %></div>